div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 17px solid pink;
    background-color: brown;
    /*border-radius: 100%;*/
    /*border-radius: 17% 150%;*/
    border-radius: 10% 150% 100% 25%;
    /*
    TRBL
    TB RL
    T R B L
    */
}